.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #342f2f;
    font-family: Arial;
    height: 100vh;
}

.register-form {
    width: 80%;
    height: 80%;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.register-title {
    text-align: center;
}

.register-input {
    height: 10%;
    width: 80%;
    border-radius: 6px;
    border: 1px solid #332f2f;
    font-size: 14px;
}

.register-button {
    height: 10%;
    width: 80%;
    background-color: #473783FF;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}