.welcome-bar {
    width: 100vw;
    background-color: #9595e4;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
    margin-bottom: 5%;
}

.welcome-text {
    font-size: xx-large;
    text-align: center;
}